<div ng-controller="CollectionCtrl">
    <div links="response.links"></div>
    <h4> {{response.data.items.length}} results</h4>
    <hr ng-show="response.data">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th ng-hide="key=='uri'||key=='_id'" ng-repeat="(key,val) in response.data.items[0]">{{key}}</th>
        </thead>
        <tbody>
            <tr style="cursor: pointer;" ng-click="itemClick(item)" ng-repeat="item in response.data.items">
                <td ng-hide="key=='uri'||key=='_id'" ng-repeat="(key,val) in item">{{val}}</td>
            </tr>
        </tbody>
    </table>
</div>