<div ng-controller="CollectionCtrl">
    <div class="navbar navbar-default" role="navigation">
        <div class="nav navbar-form">
            <div links="response.links"></div>
        </div>
    </div>
    <h5 class="text-muted">{{response.data.items.length}} results</h5>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th class="text-muted" style="text-transform: uppercase; font-size: 12px;" ng-hide="key=='uri'||key=='_id'" ng-repeat="(key,val) in response.data.items[0]">{{key}}</th>
        </thead>
        <tbody>
            <tr style="cursor: pointer;" ng-click="itemClick(item)" ng-repeat="item in response.data.items">
                <td ng-hide="key=='uri'||key=='_id'" ng-repeat="(key,val) in item">{{val}}</td>
            </tr>
        </tbody>
    </table>
</div>