<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
    </ul>
    <h3 class="text-muted">hateoas ui</h3>
</div>
<hr>
<div ng-switch="!!response.data.items">
    <div ng-switch-when="true"><div ng-include="'views/collection.html'"></div></div>
    <div ng-switch-when="false"><div ng-include="'views/item.html'"></div></div>
</div>
<div style="margin: auto; width: 200px;" class="alert alert-info text-center" ng-hide="loaded">
    Loading...
</div>
<ol class="breadcrumb" style="margin-top: 20px;">
    <li ng-repeat="breadcrumb in breadcrumbs.slice(0, breadcrumbs.length - 1)"><a ng-href="{{ breadcrumb.path }}">{{breadcrumb.title}}</a></li>
    <li class="active">{{breadcrumbs[breadcrumbs.length - 1].title}}</li>
</ol>
